
<div class="main main-raised">
    <div class="section">
      <div class="row"></div>
<div class="container">
  </div>
  </div>
</div>
<div class="main main-raised">
    <div class="section">
<div class="container">
    <div class="row">
<div style="text-align:center">
    <div class="team-4">

      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center">
            <h2 class="title">Our Team</h2>
            <h5 class="description">Water is our only life support to complete the project</h5>
          </div>
        </div>

        <div class="row">

          <div class="col-md-4 col-md-offset-2">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="https://www.facebook.com/Ankit013D">
                  <img class="img" src="assets/images/faces/avatar.jpg">
                </a>
              </div>

              <div class="content">
                <h4 class="card-title">Ankit Das</h4>
                <h6 class="category text-muted">Web Designer</h6>

                <p class="card-description">
                  Don't be scared of the truth because we need to restart the human foundation in truth...
                </p>

              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="card card-profile card-plain">
              <div class="card-avatar">
                <a href="https://www.facebook.com/BatCow.26">
                  <img class="img" src="assets/images/faces/avatar1.jpeg">
                </a>
              </div>

              <div class="content">
                <h4 class="card-title">Akash Sinha</h4>
                <h6 class="category text-muted">Web Designer</h6>

                <p class="card-description">
                  You don't drown by Falling in the water,You drown by Staying there
                </p>

              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</div>
</div>
</div>
</div>
</div>
<app-footer></app-footer>
